body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.taskCreation-page {
    background-color: rgba(255, 240, 185, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}


/* Estilos para los campos */

label,
input,
textarea,
button {
    width: 100%;
    max-width: 300px;
    /* Ajusta el ancho máximo según tus preferencias */
    margin: 5px 0;
    /* Ajusta el margen entre los elementos según tus preferencias */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.logo img {
    width: 230px;
    margin-top: -40px;
}

nav {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

nav a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #D2B48C;
}

.form-container {
    background-color: #ffffff;
    padding: 60px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #000;
    width: 100%;
    max-width: 400px;
    margin-top: -50px;
}

.login-form h2 {
    font-family: 'Arial', sans-serif;
}

.form-group {
    margin: 10px 0;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #FFF0B9;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
}

.image-container {
    text-align: center;
}

.small-image {
    width: 150px;
}

.bigger-image {
    width: 150px;
    /* Ajusta el valor del ancho según tus preferencias */
}