<div class="seeIncident">


    <header>
        <div class=" logo ">
            <img src="assets/logo.png " alt="Logo de TaskBuddy ">
        </div>
        <nav>
            <a routerLink="/incidencias">HISTORIAL DE INCIDENCIAS</a>
            <a (click)="confirmarCerrarSesion()">CERRAR SESIÓN</a>
        </nav>
    </header>
    <div *ngIf="incident " class="incident-container ">
        <h2>¡Veamos la incidencia!</h2>
        <div class="image-container ">
            <img src="assets/BuddyModification.jpg " alt="Imagen de Buddy " class="bigger-image ">
        </div>

        <div class="content">

            <label for="name ">Nombre:</label>
            <input id="name" readonly class="input-field " [(ngModel)]="incident.name" />

            <label for="description ">Descripción:</label>
            <textarea id="description " readonly class="input-field " [(ngModel)]="incident.description"></textarea>

            <label for="dueDate ">Fecha de Inicio:</label>
            <input id="dueDate " type="datetime " readonly class="input-field " [(ngModel)]="incident.dueDate" />

            <label for="level ">Nivel:</label>
            <input id="level" readonly class="input-field " [(ngModel)]="incident.level" />

            <label for="status ">Estado:</label>
            <select id="status " class="input-field " [(ngModel)]="incident.status">
            <option value="Iniciada">Iniciada</option>
            <option value="Finalizada">Finalizada</option>
        </select>
            <div class="button-container">
                <button (click)="Imprimir()">Imprimir</button>
            </div>
        </div>
    </div>

</div>