<div class="home-page">
    <div class="app-header">
        <img src="assets/logo.png" alt="Logo de TaskBuddy">
    </div>

    <div class="page-container">
        <div class="header-container">
            <img src="assets/fondo2.gif" alt="GIF">
        </div>
        <div class="content-container">
            <h1>¡Bienvenido/a a TaskBuddy!</h1>
            <p>Soy tu Buddy y te ayudaré a gestionar tus tareas de manera eficiente, ¡VAMOS A ELLO!</p>
            <div class="image-container">
                <img src="assets/soyBuddy.png" alt="Imagen de Buddy" class="bigger-image">
            </div>
            <div class="button-container">
                <button routerLink="/register">Registrarse</button>
                <button routerLink="/login">Iniciar sesión</button>
            </div>
        </div>
    </div>
</div>